[submodule "page"]
	path = page
	url = git@github.com:vcoscrato/page.git
[submodule "routine"]
	path = routine
	url = git@github.com:vcoscrato/routine.git
[submodule "cv"]
	path = cv
	url = git@github.com:vcoscrato/cv.git
[submodule "consultorio"]
	path = consultorio
	url = git@github.com:vcoscrato/consultorio.git
