[submodule "page"]
	path = page
	url = https://github.com/vcoscrato/page.git
[submodule "routine"]
	path = routine
	url = https://github.com/vcoscrato/routine.git
[submodule "cv"]
	path = cv
	url = https://github.com/vcoscrato/cv.git
